:root {
    --cor-principal: #9C27B0;
    /* Roxo vibrante */
    --cor-escura: #512DA8;
    /* Roxo escuro */
    --cor-clara: #FBC02D;
    /* Amarelo vibrante */
    --cor-fundo-texto: #1C1C1C;
    /* Cinza escuro / preto suave */
    --cor-texto-destaque: #FFEB3B;
    /* Amarelo suave */
    --paragrafo: 18px;
    --titulo: 40px;
    --subtitulo: 32px;
}

.navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FBC02D' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler {
    border-color: var(--cor-texto-destaque);
}

body {
    font-family: "Lato", sans-serif !important;
}

.navbar img {
    width: 150px;
}

.navbar {
    background-color: var(--cor-escura) !important;
}

.navbar a {
    color: var(--cor-clara);
    padding: 0px 50px;
}

.navbar ul li {
    padding: 0px 15px;
    margin: 10px;
}

.navbar-nav {
    right: 1px;
    font-size: var(--paragrafo);
    display: flex;
}


.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.carousel-item {
    position: relative;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    z-index: 1;
}


.carousel-item img {
    max-height: 700px;
}

.text-box {
    background-color: var(--cor-clara);
    color: #111;
    width: calc(350px + 20vh);
    height: 150px;
    border-radius: 20px;
    margin: 20px auto;
}

.icon i {
    font-size: 30px;
}

.icon {
    display: flex;
    float: left;
    align-items: center;
    align-content: center;
}

.sobre-nos-1 {
    background-image: url(img/fundoamarelo.png);
    padding: 4vh 0;
}

.botao-sobre-nos {
    background-color: var(--cor-escura);
    color: var(--cor-texto-destaque);
    margin-top: 10px;
    font-size: 20px;
    width: 150px;
}

.botao-sobre-nos:hover {
    background-color: var(--cor-clara);
    color: var(--cor-escura);
}

.texto-sobre-nos {
    text-align: center;
    padding: 25px 0;
}

.texto-sobre-nos h1 {
    font-size: var(--titulo);
    color: var(--cor-escura);
}

.container-texto {
    background-color: #FFF;
    border: #1C1C1C 1px solid;
    height: auto;
    border-radius: 30px;
    padding: 2vh;
}


.texto-sobre-nos h4 {
    margin: 15px 30px;
}

.cards-container .card {
    text-align: center;
}

.card {
    max-width: 350px;
    padding: 10px;
    margin: 25px auto !important;
    height: 480px;
    border-radius: 10px;
    border-color: var(--cor-escura);
    border-width: 1px;
}

.card i {
    margin-top: 20px;
    font-size: var(--titulo);
    color: var(--cor-escura);
}

.card-text {
    font-size: var(--paragrafo);
}

.card-title {
    font-weight: bold;
    font-size: 24px;
}

.card-body .btn {
    background-color: var(--cor-escura);
    color: var(--cor-texto-destaque);
}

.nossa-equipe {
    padding: 4vh 0;
    background-color: var(--cor-clara);
    background-image: radial-gradient(circle, #1a465053 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 1rem 1rem;

}

.nossa-equipe h1 {
    color: var(--cor-escura);
    font-size: var(--titulo);
}

.nossa-equipe .card {
    background-color: #512DA8;
    color: var(--cor-texto-destaque);
}

.equipe {
    margin: 0 auto;
}

.equipe img {
    min-height: 260px;
}

.servicos {
    padding: 4vh 0;
    background-image: url(img/fundoroxo.png);
}

.servicos h1 {
    font-size: var(--titulo);
    color: var(--cor-escura);
}

.servicos h5 {
    font-size: var(--subtitulo);
    color: var(--cor-escura);
}

.body-sobre-empresa h1{
    text-align: center;
    font-weight: bold;
    color: var(--cor-escura);
}

.body-sobre-empresa {
    background-image: url(img/fundoamarelo.png);
    background-position: center;
}

.empresa-container-texto {
    background-color: #FFF;
    max-width: 80%;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    border-radius: 20px;
    padding: 15px 20px;
  /*  border: var(--cor-escura) 1px solid; */
}

.empresa-container-texto p {
    font-size: 18px;
    margin: 0;
}

footer {
    padding: 5vh 20px;
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    background-image: radial-gradient(circle, #1a465053 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 1rem 1rem;
}


footer h1 {
    font-size: var(--titulo);
    font-weight: 600;
}

footer p {
    font-size: var(--paragrafo);
}

footer .form-control {
    padding: 10px;
    background-color: var(--cor-escura) !important;
    border: 1px solid var(--cor-clara);
}

#contact-form {
    color: var(--cor-clara);
    /* Substitua por qualquer cor desejada */
}

#contact-form input::placeholder,
#contact-form textarea::placeholder,
#contact-form input,
#contact-form textarea {
    color: var(--cor-clara);
    /* Cor dos textos de placeholder */
}


footer form button {
    background-color: var(--cor-texto-destaque) !important;
    padding: 2vh;
    margin-top: 10px;
    width: 100%;
    font-size: var(--paragrafo);
    color: var(--cor-escura);
    border: 1px solid var(--cor-fundo-texto);
}

footer a{
    text-decoration: none;
}

.service {
    background-image: url(img/fundoservices.png);
    height: auto;
    padding-bottom: 1vh;
}

.service a {
    text-decoration: none;
}

.service h5 {
    font-size: var(--subtitulo);
    color: var(--cor-escura);
    text-wrap: stable;
}

.service p {
    font-size: var(--paragrafo);
}

.service-conteudo {
    padding-bottom: 4vh;
    margin: 4vh auto;
    background-color: #3e219a;
    border: 1px solid var(--cor-clara);
    box-shadow: 0px 2px 40px var(--cor-clara);
    background-image: radial-gradient(circle, #6e6e6e53 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 1rem 1rem;
}


.produto {
    background-color: var(--cor-clara);
    background-image: radial-gradient(circle, #1a465053 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 1rem 1rem;
    color: var(--cor-escura);
}

.produto h1 {
    padding: 25px;
}
